.CategoriesTitle {
    padding: 10px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    
}

.CardContainer {
    margin-top : 50px;   
    margin-bottom : 50px;
}

.card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-link {
  text-decoration: none; 
  color: inherit;      
}

.card-title {
  text-decoration: none;
}

.card-body{
  text-align: center;
}

.CardContainer{
  margin-top: 100px;
}